In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('historical_emissions.csv')
df

,ISO,Country,Data source,Sector,Gas,Unit,2022,2021,2020,2019,...,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,WORLD,World,GCP,Total fossil fuels and cement,CO2,MtCO₂e,37149.78,36816.54,35007.74,37040.10,...,31493.27,32041.90,31499.73,30605.77,29592.10,28620.19,27648.65,26248.29,25674.93,25501.29
1,WORLD,World,GCP,Coal,CO2,MtCO₂e,15219.30,14982.52,14225.92,14684.31,...,13033.11,13203.81,12788.58,12199.22,11553.74,10876.57,10522.82,9684.06,9259.31,9207.20
2,WORLD,World,GCP,Oil,CO2,MtCO₂e,11877.89,11514.74,10899.95,12377.95,...,10961.71,11205.64,11248.81,11211.11,11109.20,11010.54,10617.43,10336.71,10356.23,10278.07
3,CHN,China,GCP,Total fossil fuels and cement,CO2,MtCO₂e,11396.78,11336.23,10914.01,10721.04,...,7891.09,7501.50,6983.58,6494.34,5882.14,5217.35,4841.12,4103.04,3728.51,3649.20
4,CHN,China,GCP,Coal,CO2,MtCO₂e,8250.74,7979.44,7679.55,7523.17,...,6028.50,5729.47,5289.90,4905.37,4424.39,3835.29,3601.71,3018.63,2637.66,2601.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1171,VUT,Vanuatu,GCP,Gas flaring,CO2,MtCO₂e,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1172,ZMB,Zambia,GCP,Gas,CO2,MtCO₂e,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1173,ZMB,Zambia,GCP,Gas flaring,CO2,MtCO₂e,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1174,ZWE,Zimbabwe,GCP,Gas,CO2,MtCO₂e,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1175,ZWE,Zimbabwe,GCP,Gas flaring,CO2,MtCO₂e,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [3]:
normalized_data = df.melt(
    id_vars=["ISO", "Country", "Data source", "Sector", "Gas", "Unit"],
    var_name="Year",
    value_name="Emissions"
)

# Convert the 'Year' column to integer for easier analysis
normalized_data["Year"] = normalized_data["Year"].astype(int)

In [4]:
normalized_data = normalized_data.drop_duplicates()

In [5]:
# Remove rows with zero or NaN emissions
normalized_data = normalized_data[(normalized_data["Emissions"] != 0) & (normalized_data["Emissions"].notna())]

In [6]:
normalized_data

,ISO,Country,Data source,Sector,Gas,Unit,Year,Emissions
0,WORLD,World,GCP,Total fossil fuels and cement,CO2,MtCO₂e,2022,37149.78
1,WORLD,World,GCP,Coal,CO2,MtCO₂e,2022,15219.30
2,WORLD,World,GCP,Oil,CO2,MtCO₂e,2022,11877.89
3,CHN,China,GCP,Total fossil fuels and cement,CO2,MtCO₂e,2022,11396.78
4,CHN,China,GCP,Coal,CO2,MtCO₂e,2022,8250.74
...,...,...,...,...,...,...,...,...
26840,GRC,Greece,GCP,Gas flaring,CO2,MtCO₂e,2000,0.01
26858,HND,Honduras,GCP,Coal,CO2,MtCO₂e,2000,0.35
26861,ISL,Iceland,GCP,Cement,CO2,MtCO₂e,2000,0.06
26935,NLD,Netherlands,GCP,Cement,CO2,MtCO₂e,2000,0.47
27028,TUN,Tunisia,GCP,Coal,CO2,MtCO₂e,2000,0.28

In [ ]:

normalized_data['Sector'].unique()

array(['Total fossil fuels and cement', 'Coal', 'Oil', 'Gas', 'Cement',
       'Gas flaring'], dtype=object)

In [ ]:
normalized_data.to_csv("normalized_historical_emissions-2.csv", index=False)